<link rel="stylesheet" href="lib/css/carrosel.css">
<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4 class="colortext">Como criar <br>
                Figuras</h4>
              <p>Faça qualquer forma quadrado com  <br>
                apenas alguns clicks! você ainda pode clicar <br>
                duas vezes para fechar a figura automaticamente.</p>
              </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="images/gridtutorial.png" class="mx-auto" alt="slide" width="70%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4 class="colortext">Futuramente muito em breve... <br>
                Balões & PNGs</h4>
              <p>De mais vida para seus quadros, com balões que podem sair dos<br>
                quadros, se você ter um png da sua imagem, pode ver <br>
                ela tomando vida para fora dos limites! </p>
              </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="images/joia.png" class="mx-auto" alt="slide" width="90%"></div>
          </div>
        </div>
      </div>
    </div>
</div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>